<!--Author- Najeam Mehanmal 7457195-->
<%- include('layouts/header'); -%>
<body>
  <h1>Post retrieved</h1>
  <h2><%= pagePost.pagePostTitle %></h2>

  <div class="img">
    <img src="../contact_images/<%= pagePost.imageName %>" alt="" />
  </div>

<button></button>
<a href="/delete/<%= pagePost._id %>">Delete</a>
<a href="/edit/<%= pagePost._id %>">Edit</a>
</body>
