<!--Author- Najeam Mehanmal 7457195-->
<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
  
  <div class="result">
    <h1>Post retrieved</h1>
    <h2><%= pagePost.pagePostTitle %></h2>

    <div class="img">
      <img src="../contact_images/<%= pagePost.imageName %>" alt="" />
    </div>

    <div class="delete">
      <button onclick="window.location='/delete/<%= pagePost._id %>';" value="">
        Delete
      </button>
    </div>

    <div class="Edit">
      <button onclick="window.location='/edit/<%= pagePost._id %>';" value="">
        Edit
      </button>
    </div>
  </div>
</body>
